PassengerStartupFile app.js
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
PassengerAppRoot /home/f0754339/domains/f0754339.xsph.ru/public_html/server
Options -MultiViews