@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  /* Пример использования */
  body {
    font-family: 'Gilroy', sans-serif;
  }
  